{% extends "index" %}
{% block content %}
	{% set hours = entry.cookingTimeHours %}
	{% set minutes = entry.cookingTimeMinutes %}
	{% set output = "" %}
	{% set mainCardImage = entry.featuredCardImage.one() %}

	<div class="hero--wrapper">
		<div class="hero-card">

			<div class="card-left">
				<span class="new-recipe">{{ entry.featuredCardTitle }}</span>


				<span class="new-info">
					<div class="info-wrapper">
						{{ entry.featuredDescription }}
						<div class="wrap-dish-time">
							<span class="new-time">
								<span class="material-symbols-outlined">schedule</span>


								{% if hours and hours > 0 %}
									{% set output = hours ~ " h" %}
								{% endif %}
								{% if minutes and minutes > 0 %}
									{% set output = output ? output ~ " " ~ minutes ~ " m" : minutes ~ " m" %}
								{% endif %}

								{{ output }}


							</span>
							<span class="new-dish">
								<span class="material-symbols-outlined">restaurant</span>
								{{entry.dishType}}</span>
						</div>
					</div>
				</span>

				<div class="card-lower">
					<div class="card-lower-left">
						<div class="card-lower--profile-pic"></div>
						<span class="card-lower--profile--info">
							<p class="card-lower-profile-name">Arsen Chensov</p>
							<p>4<sup>th</sup>of October 2023</p>
						</span>


					</div>
					<div class="card-lower-left">
						<span class="recipe-btn">
							<span class="material-symbols-outlined">play_circle</span>Full Recepie</div>
					</span>
				</div>
			</div>
			<div class="card-right" style="background-image: url('{{ mainCardImage.url }}')"></div>
		</div>
	</div>
	<main>
		<div class="title-section">
			<h1 class="mid-page-title">Recipes under an hour</h1>
		</div>
		<div class="card-wrapper">
			<div class="main--card-grid">

				{% set cardEntries = craft.entries.section('cards').limit(8).all() %}
				{% for entry in cardEntries %}
					{% include "_cards.twig" %}
				{% endfor %}

			</div>
		</div>
		<div class="explore-more-container">
			<span>Explore more recipes</span>
		</div>
	</main>


{% endblock %}
